# Backend environment
PORT=4000
API_PREFIX=api
CORS_ORIGINS=http://localhost:3000
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mcc_smart_city

# Frontend environment
NODE_ENV=production
NEXT_PUBLIC_API_URL=http://localhost:4000/api
